<section class="card text-center d-none position-fixed" id="card">
    <div class="container bg-white p-5 position-relative">
    <h2 class="text-uppercase text pt-5" id="card-Title"></h2>
    <span class="position-relative slider-icon-dark"><i class="fa-solid fa-star"></i></span>
    <div class="card-image">
    <img class="p-5 m-4" id="card-picture" alt="card-image">
    </div>
    <div class="card-text p-5">
    <p>orem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
    <div class="test">
    <button type="button" class="btn btn-primary close-btn mt-5" (click)="closebutton()"><i class="fa-solid fa-x"></i> Close Window</button></div>
    <i class="fa-solid fa-x close-card-btn position-absolute" (click)="closebutton()"></i>
</div>
</div>
</section>
